/* 容器 */
.content {
    max-width: 1300px;
    margin: 0 auto;
}

.bg {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

/* flex */
.d-flex{
  display: flex;
}

/* 鼠标手 */

.cursor-p {
    cursor: pointer;
}

/* 字体大小 */

.font-size-1 {
    font-size: 12px;
}

.font-size-2 {
    font-size: 14px;
}

.font-size-3 {
    font-size: 16px;
}

.font-size-4 {
    font-size: 18px;
}

.font-size-5 {
    font-size: 20px;
}

/* 标题 */

.title {
    font-size: 16px;
    font-weight: bold;
}

/* 字体颜色 */

.color-b8c4ce {
    color: #b8c4ce;
}

/* 课程中常用样式 */

.step-con-i {
    font-style: normal;
    text-decoration: underline;
    margin: 0 3px;
    cursor: pointer;
    color: #3dbdffb3;
}

.navIcon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

/* 清除默认样式 */

li {
    list-style: none;
}

button {
    outline: none !important;
}

/* padding */
.p{
  padding: 10px;
}


/* 设置背景图后各个模块的背景颜色 */
.nav-bg{
  background-color: rgba(0,0,0,.2) !important;
  color: rgba(255,255,255,.85);
}

.set-bg-color{
  background-color: rgba(255,255,255,.85) ;
}
