@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /*background: transparent;*/
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset, img {    border:0;}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style:normal;
    font-weight:normal;
}
ol, ul { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 {
    font-size:200%;
    font-weight:normal;
}
:focus { outline: 0;}
a{ text-decoration:none;}
a:hover img{ border:none;}

/* 容器 */
.content {
    max-width: 1300px;
    margin: 0 auto;
}

.bg {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

/* flex */
.d-flex{
  display: flex;
}

/* 鼠标手 */

.cursor-p {
    cursor: pointer;
}

/* 字体大小 */

.font-size-1 {
    font-size: 12px;
}

.font-size-2 {
    font-size: 14px;
}

.font-size-3 {
    font-size: 16px;
}

.font-size-4 {
    font-size: 18px;
}

.font-size-5 {
    font-size: 20px;
}

/* 标题 */

.title {
    font-size: 16px;
    font-weight: bold;
}

/* 字体颜色 */

.color-b8c4ce {
    color: #b8c4ce;
}

/* 课程中常用样式 */

.step-con-i {
    font-style: normal;
    text-decoration: underline;
    margin: 0 3px;
    cursor: pointer;
    color: #3dbdffb3;
}

.navIcon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

/* 清除默认样式 */

li {
    list-style: none;
}

button {
    outline: none !important;
}

/* padding */
.p{
  padding: 10px;
}


/* 设置背景图后各个模块的背景颜色 */
.nav-bg{
  background-color: rgba(0,0,0,.2) !important;
  color: rgba(255,255,255,.85);
}

.set-bg-color{
  background-color: rgba(255,255,255,.85) ;
}



/* 滚动条样式 */
.scroll-box{
    overflow: hidden;
    overflow-y: auto;
}
.scroll-box::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.scroll-box::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.scroll-box::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
